.weui_navbar+.weui_tab_bd{ 

    padding-bottom: 50px;
   
}
.weui_tabbar_icon{
    color: #888;
}
.weui_bar_item_on .weui_tabbar_icon{
    color: #09bb07;
}
 
.weui_tabbar{
z-index:99;
}

.weui_media_box.weui_media_appmsg .weui_media_info {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    color: #cecece;
    line-height: 1em;
    list-style: none;
    overflow: hidden;
}
.weui_media_box.weui_media_appmsg .weui_media_info_meta {
float:left;
    padding-right: 1em;
}

.weui_media_box.weui_media_appmsg .weui_media_info_meta_extra{
float:right;
}